In [2]:
# 리스트 생성
a = [1, 2, 3, 4,5]
print(a)
# 자료형 확인
print(type(a)) 
# 개별요소 참조 - 인덱스(요소는 데이터)
print(a[0])
print(a[1])
# 마지막 요소
print(a[-1])
print(a[4])
# 리스트 변경 가능
a[0] = 10
print("a =", a)
# 개별요소를 줄단위로 출력
print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
# for 개별변수 in 집합변수
for i in a:
    print(i)
    
print("-------------------------------")
print("-" * 20)

    
# for i in a:
#     print(a[i])        ===== 파이썬에선 a[a[0]]로 인식하기에 오류가 발생함\
# C나 Java에서는 가능함

[1, 2, 3, 4, 5]
<class 'list'>
1
2
5
5
a = [10, 2, 3, 4, 5]
10
2
3
4
5
10
2
3
4
5
-------------------------------
--------------------

In [3]:
# 중첩 리스트 = 이차원 리스트, 이차원 배열
a =[1,2,3,['a','b','c']]
print(a)
print(a[3])
print(a[3][0])   # 리스트[행][열]

[1, 2, 3, ['a', 'b', 'c']]
['a', 'b', 'c']
a

In [4]:
# 리스트를 저장할 때 값 자체가 아니라 값이 위치한 메모리의 주소를 저장한다.
x = [1,2,3,4,5]
# 개체(객체)복사
y = x
y[0]=10
print("x =", x)
print('y =', y)

x = [10, 2, 3, 4, 5]
y = [10, 2, 3, 4, 5]

In [5]:
x = [1,2,3,4,5]
y = x[:]   # slicing[start:stop]
y[0]=10
print("x =", x)
print('y =', y)

x = [1, 2, 3, 4, 5]
y = [10, 2, 3, 4, 5]

In [6]:
x = [1,2,3,4,5]
print(x[0:2])   #0, 1

[1, 2]

In [8]:
print(x[:])
print(x[:3])   
print(x[1:])

[1, 2, 3, 4, 5]
[1, 2, 3]
[2, 3, 4, 5]

In [19]:
# 리스트의 연산 : 더하기(+) 연산, 리스트의 크기가 확장된다
a = [1,2,3]
b = [5,6,7]
c = a + b   # extend(확장)의 의미, 리스트가 가로로 연결됨
a.extend(b)
print("c=",c)
print("a=", a)

c= [1, 2, 3, 5, 6, 7]
a= [1, 2, 3, 5, 6, 7]

In [20]:
# a.extend(b) : a = a + b -> 다른 변수에 못담김
a

[1, 2, 3, 5, 6, 7]

In [22]:
# 문자열도 시퀀스 자료형
# 문자열 + 문자열 (연결연산자)
"Hello " + "python"

'Hello python'

In [23]:
# 리스트 연산 : 곱셈(*), 반복, list * 반복횟수(정수형 데이터)
a=[1,2,3]
b=a*3
print(b)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [24]:
"안뇽" * 3

'안뇽안뇽안뇽'

In [25]:
a

[1, 2, 3]

In [26]:
a[1:2] = ['a','b','c']
a

[1, 'a', 'b', 'c', 3]

In [27]:
a =[1,2,3]
a[1:3] = []   # 인덱스 1과 2번째 값을 삭제
a

[1]

In [29]:
a = [1,2,3]
del a[1]
a

[1, 3]

In [30]:
a=[1,4,2,3]
a.sort() #오름차순
print(a)

[1, 2, 3, 4]

In [31]:
a=[1,4,2,3]
a.reverse() # 뒤집기만
a

[3, 2, 4, 1]

In [32]:
a=[1,4,2,3]
a.sort()
a.reverse() 
a

[4, 3, 2, 1]

In [34]:
a=[1,4,2,3]
a.sort(reverse=True)
a

[4, 3, 2, 1]

In [35]:
a=['a','b','d','c']   # 사전순으로 정렬
a.sort()
a

['a', 'b', 'c', 'd']

In [36]:
a = [1,2,3,4,5]
print(a.index(3)) # 3이라는 값이 몇번째 위치에 있는지

2

In [38]:
b = ['a', 'b','c']
print(b.index('h'))   #없는 데이터의 위치를 물으면 에러발생

ValueError: 'h' is not in list

In [39]:
a = [1,2,3]
a.insert(0,4)   # 0번째 위치에 4를 입력
print(a)

[4, 1, 2, 3]

In [40]:
# 값을 삭제하는 remove
a = [1,2,3,1,2,3]
# 3인 데이터를 삭제(1개만)
a.remove(3)
a

[1, 2, 1, 2, 3]

In [41]:
# 인덱스로 삭제(위치로)
del a[0]
a

[2, 1, 2, 3]

In [42]:
a = [1,2,3]
b = a.pop() # 리스트의 마지막 요소를 추출 
print(a)
print(b)

[1, 2]
3

In [44]:
# 요소의 건수(개수)
a=[1,2,3,1,2,1]
b = a.count(1)   # 값이 1인 요소가 몇개인지 계산하는 함수
print(b)

3

In [45]:
# 리스트의 확장
a = [1,2,3]
# 리스트1.extend(리스트2)  --> 리스트1이 확장됨
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [46]:
a.extend(6)    # 반드시 리스트를 담아야한다.
a

TypeError: 'int' object is not iterable

In [47]:
b=[7,8]
print(a+b)

[1, 2, 3, 4, 5, 7, 8]

In [48]:
# 값 in 리스트 (포함되었는지), 값 not in 리스트 --> 결과는 True or False
a = [1,2,3,4,5]
result = 2 in a
print(result)

result = 2 not in a   # 없으면 True, 있으면 False
print(result)

True
False

# 튜플(Tuple)

In [49]:
t1 = (1,2,'a','b')
print(t1)
print(type(t1))
print(t1[0])   # 인덱스를 가져올땐 튜플이라도[]사용
print(t1[-1])
t1[0]='c'  #튜플은 변경 불가라 에러발생

(1, 2, 'a', 'b')
<class 'tuple'>
1
b

TypeError: 'tuple' object does not support item assignment

In [50]:
del t1[0]   # 삽입, 수정, 삭제 등 모두 불가

TypeError: 'tuple' object doesn't support item deletion

In [51]:
t1 = (1,2,'a','b')
print(t1[1:])
t2 = (3,4)
print(t1 + t2)    #something 확장같은거
t1 = t1 + t2 # 새로운 t1이 생성된다고 생각 해야함. (변경이 아님)
print("t1 =", t1)
print(t1*3)

(2, 'a', 'b')
(1, 2, 'a', 'b', 3, 4)
t1 = (1, 2, 'a', 'b', 3, 4)
(1, 2, 'a', 'b', 3, 4, 1, 2, 'a', 'b', 3, 4, 1, 2, 'a', 'b', 3, 4)

In [52]:
# 파이썬의 기본 자료형, 튜플
a = 10
b = 20
print("a= ", a, "b= ", b)

a=  10 b=  20

In [53]:
c = a
a = b
b = c
print("a= ", a, "b= ", b)

a=  20 b=  10

In [54]:
a = 10
b = 20
a, b = b, a
print("a= ", a, "b= ", b)

a=  20 b=  10

In [ ]:
a = 10
b = 20
a, b = (b, a)      # 기본적으로 여러 자료들이 튜플로 묶여 있음 ---> unpacking느낌
print("a= ", a, "b= ", b)

In [98]:
# packing(패킹) : 여러 개의 값을 하나의 변수에 저장하는 것
t1 = (1,2,3)
# unpacking : 하나의 변수에 담은 값을 각각의 변수에 할당하는 것.
# 이때, 데이터 개수와 변수의 개수는 반드시 일치해야한다.
n1, n2, n3 = t1
# 출력형식이 포함된 문자열.format(값1, 값2, 값3)
print("{0} {1} {2}".format(n1, n2, n3))

# 변수의 값을 교환
n1, n2 = n2, n1 
print("{0} {1}".format(n1, n2))

1 2 3
2 1

In [56]:
# 형변환 : int(), float(), str()
# 자료구조의 형변환 : list(), tuple()    --- 함수, 사전은 향변환이 안됨(인덱스가 없고 키가 있어서) 
#//키만추출해서 튜플화 또는 value만 뽑아서 튜플화 정도는 가능

my_list = [1,2,3]
my_tuple = ('x','y','z')
print(my_list)
print(my_tuple)

[1, 2, 3]
('x', 'y', 'z')

In [57]:
print(tuple(my_list))
print(list(my_tuple))

(1, 2, 3)
['x', 'y', 'z']

In [ ]:
### list로 연습했던걸 tuple로도 해보기

# 딕셔너리

In [58]:
# 딕셔너리{key:value, key:value, key:value}  -키와 value를 쌍(item)으로 저장
# key는 숫자인덱스 보다 문자인덱스를 선호(권장)
# key는 중복 불가능
a = {1:'a'}
print(a)
print(type(a))

{1: 'a'}
<class 'dict'>

In [59]:
# 사전에 아이템(item) 추가
a[2] = 'b' # t숫자로 넣으면 인덱스로 오해 할 수도
a

{1: 'a', 2: 'b'}

In [65]:
stu = {'name':'홍길동', 'phone':'010-1234-5678','age':23}
print(stu)

{'name': '홍길동', 'phone': '010-1234-5678', 'age': 23}

In [66]:
# 키를 이용해서 값을 조회
print(stu['name'])       #value를 구할 때, dic[key]
print(stu.get('name'))                  #  dic.get(key)

print(stu['age'])    
print(stu.get('age'))

홍길동
홍길동
23
23

In [67]:
# keys 조회, list타입으로 출력
stu.keys()

dict_keys(['name', 'phone', 'age'])

In [68]:
# values 조회, list 타입
stu.values()

dict_values(['홍길동', '010-1234-5678', 23])

In [73]:
# items 조회, 튜플 타입으로 출력
stu.items()

dict_items([('name', '홍길동'), ('phone', '010-1234-5678'), ('age', 23)])

In [75]:
# 개별 조회 시, for 개별변수 in 집합변수(집합변수를 key값으로)
for k in stu.keys():    # for k in ['name', 'phone', 'age']
    print(k,"==>", stu[k])

name ==> 홍길동
phone ==> 010-1234-5678
age ==> 23

In [77]:
b = list(stu.keys())
b

['name', 'phone', 'age']

In [78]:
c = list(stu.values())
c

['홍길동', '010-1234-5678', 23]

In [79]:
d = list(stu.items())
print(d)

[('name', '홍길동'), ('phone', '010-1234-5678'), ('age', 23)]

In [80]:
print(type(d))

<class 'list'>

In [81]:
print(d[0])

('name', '홍길동')

In [82]:
for k, v in d: # 집합변수 d가 튜플인데 리스트로 묶였어서리스트의 1값이 k, 2값이 v
    print(k,"==>",v)

name ==> 홍길동
phone ==> 010-1234-5678
age ==> 23

In [83]:
# 새로운 item추가
stu['weight'] = 67.4
print(stu)

{'name': '홍길동', 'phone': '010-1234-5678', 'age': 23, 'weight': 67.4}

In [84]:
'weight' in stu

True

# 집합(set)

In [85]:
# 집합 자료형 : 중복값은 허용하지 않으며, 순서대로 저장되지 않는다.
s1 = set([5,4,3,2,1,1,2,3,4,5])   # 튜플도 가능
s1     # 값이 {}로 나오는데 사전은 아이템으로 이루어진 차이가 있음

{1, 2, 3, 4, 5}

In [86]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

# 교집합, &    // 다른 언어에서는 비트연산자로 이용
a = s1 & s2
print("교집합: ", a)

# 합집합, |
b = s1 | s2
print("합집합: ", b)

# 차집합, -
c = s1 - s2
print("차집합: ", c)

교집합:  {4, 5, 6}
합집합:  {1, 2, 3, 4, 5, 6, 7, 8, 9}
차집합:  {1, 2, 3}

In [88]:
print("교집합 = ", s1.intersection(s2))
print("합집합 = ", s1.union(s2))
print("차집합 = ", s1.difference(s2))

교집합 =  {4, 5, 6}
합집합 =  {1, 2, 3, 4, 5, 6, 7, 8, 9}
차집합 =  {1, 2, 3}

In [89]:
s1 = set([1,2,3])
# 요소 추가
s1.add(4)
print(s1)
s1.add(4,5)   # 한번에 여러개의 요소를 추가하지 못함, 에러발생
print(s1)

{1, 2, 3, 4}

TypeError: set.add() takes exactly one argument (2 given)

In [90]:
s1.add(4)   # 중복 허용하지 않아서 다시 실행해도 수는 변하지 않음
print(s1)

{1, 2, 3, 4}

In [91]:
s1.add(5)
print(s1)

{1, 2, 3, 4, 5}

In [92]:
s1 = set([1,2,3])
s1.update([4,5,6])
print(s1)

{1, 2, 3, 4, 5, 6}

In [93]:
# 업데이트는 리스트만 담을수 있음
s1.update(7)
print(s1)

TypeError: 'int' object is not iterable

In [94]:
s1.update([7])
print(s1)

{1, 2, 3, 4, 5, 6, 7}

In [95]:
# 값 제거
# 집합은 인덱스 사용못함. 순서가 정해져 있지 않기 때문에
s1.remove(2)
print(s1)

{1, 3, 4, 5, 6, 7}

In [99]:
dic = {'a':10}
sse = {10}
print(dic)
print(sse)

{'a': 10}
{10}

In [100]:
x = [1,2,3,4,5]
y = x
print("x주소: ", id(x))
print("y주소: ", id(y))

x주소:  1936149106624
y주소:  1936149106624

In [101]:
x = 10
y = 20
print("x주소: ", id(x))
print("y주소: ", id(y))
x, y = y, x
print("x주소: ", id(x))
print("y주소: ", id(y))

x주소:  1936033999440
y주소:  1936033999760
x주소:  1936033999760
y주소:  1936033999440

# 날짜 자료형

In [104]:
# 날짜 관련 함수를 가지고 있는 모듈을 포함하는 수식
# import date time 해당 모듈 전체를 가져옴
from datetime import date, time, datetime, timedelta   # 부분

# 라이브러리 로딩

In [105]:
# date 변수, today()  - 오늘 날짜를 구하는 함수
today = date.today()  # date꺼today 함수
print("today : {}".format(today))

today : 2022-09-01

In [109]:
print("연도 : {}".format(today.year), "년")
print("월 : {}".format(today.month),"월")
print("일 : {}".format(today.day),"일")

연도 : 2022 년
월 : 9 월
일 : 1 일

In [111]:
# 날짜와 시간을 한 번에
current_datetime = datetime.today()
print("현재날짜와 시간: {}".format(current_datetime))

현재날짜와 시간: 2022-09-01 12:50:28.873489

In [112]:
# 형식화된 날짜 출력 : 서식(%)
today = datetime.today()
print(today)
print(type(today))

2022-09-01 14:24:26.573305
<class 'datetime.datetime'>

In [116]:
# 날짜 자료형을 문자열로 형변환
# %y : 연도(%Y : 4자리 연도), %m : 월, %M : 분, %H : 시간
d = today.strftime("%Y-%m-%d %H:%M:%S")
print(d)
print(type(d))

2022-09-01 14:24:26
<class 'str'>

In [124]:
dayss = timedelta(days=-1)# 여기 days는 옵션이라서 못 바꾸고 dayss는 변수라 가능
# 어제 날짜
print(today + dayss)
# 일주일 전
days = timedelta(days = -7)
print(today + days)
# 30일 후
days = timedelta(days=30)
print(today + days)

# 8시간 전
hours = timedelta(hours=-8)
print(today + hours)

2022-08-31 14:24:26.573305
2022-08-25 14:24:26.573305
2022-10-01 14:24:26.573305
2022-09-01 06:24:26.573305

# 리스트 내포(List Comprehension)
리스트 안에 표현식을 포함한다.

In [125]:
# 비어있는 리스트 변수 생성
a = []      # a = list()

# for 개별변수 in 집합변수
for i in range(1, 6):    # [1,2,3,4,5]  == range(1, 6)
    a.append(i * 2)
    
print(a)

[2, 4, 6, 8, 10]

In [126]:
# 출력값  -- 실제 리스트에 담겨질 값
a = [i * 2 for i in range(1,6)]
print(a)

[2, 4, 6, 8, 10]

In [127]:
array = ['사과', '자두', '초콜릿', '바나나', '체리']
output = []

for i in array:
    if i != '초콜릿':
        output.append(i)
        
print(output)

['사과', '자두', '바나나', '체리']

In [128]:
# 인라인 함수 inline
array = ['사과', '자두', '초콜릿', '바나나', '체리']
output = [i for i in array if i != '초콜릿']   # 내포 안에는 : 을 사용하면 X

print(output)

['사과', '자두', '바나나', '체리']