In [1]:
print("Hello Python")   # 내장 함수

Hello Python

In [2]:
a = 10    # 10, 20 고정된 값
b = 20
print(a + b)

30

In [4]:
a = int(input("su = "))   # 입력값에 따라 바뀜
b = int(input("su = "))
print(a + b)

su = 10
su = 5
15

In [5]:
def adder(x, y):   # x,y는 입력받을 값
    return x+y      # c나 c++ 은 리턴 뒤에 하나의 값만 올 수 있음

In [6]:
# 함수 호출 : call by name, call by value(매게변수를 가지고 호출)
adder(10,5)

15

In [7]:
def process(a,b,c):
    pass     # 아직 내용이 정해져 있지 않을 때

In [8]:
def test():
    return 1,2,3,4,5     #(1,2,3,4,5)

In [9]:
test()

(1, 2, 3, 4, 5)

### 내장 함수
- 정의가 되어 있는 함수, print, input...

In [10]:
# 절대값
print(abs(-3))
print(abs(3))

3
3

In [12]:
# all() : 모든 값이 True인지 검사하는 함수, 논리연산자의 and느낌
# 0과 1,  0을 제외한 값들은 참으로 본다
print(all([1,2,3]))
print(all([1,2,3,0]))

True
False

In [13]:
# any( ) : 한 개라도 true면 True,  논리연산자의 or느낌
print(any([1,2,3]))
print(any([1,2,3,0]))
print(any([0,0,0,0]))

True
True
False

In [14]:
# 문자열의 경우 빈 값이면 False, 값이 있으면 True
a = "hello"

if a:
    print("True")
else:
    print("False")

True

In [15]:
a = ""

if a:
    print("True")
else:
    print("False")

False

In [16]:
print(dir([1,2,3]))  # 객체의 멤버 목록(변수나 함수)

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [17]:
print(dir({'name':'hong'}))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [18]:
a = 7
b = 3
c = a // b   # 정수 몫
d = a % b    # 나머지
print("몫 : {}, 나머지 : {}".format(c, d))

몫 : 2, 나머지 : 1

In [19]:
print(divmod(7,3))   # 몫과 나머지가 튜플 형식으로 리턴된다.
print(divmod(1.3, 0.2))

(2, 1)
(6.0, 0.09999999999999998)

In [21]:
n1, n2 = divmod(7,3)
print("몫 : {}, 나머지 : {}".format( n1, n2))

몫 : 2, 나머지 : 1

In [22]:
# 인덱스와 값을 리턴하는 함수 :enumerate()
print(enumerate([10,20,30,40,50]))    #주소가 출력

<enumerate object at 0x000002452446FFC0>

In [23]:
print(list(enumerate([10,20,30,40,50])))   # list로 인덱스와 값을 같이

[(0, 10), (1, 20), (2, 30), (3, 40), (4, 50)]

In [25]:
for index, value in enumerate([10,20,30,40,50]):
    print(index, value)

0 10
1 20
2 30
3 40
4 50

In [26]:
# eval() : 문자열의 따옴표를 제거하고 실행하는 함수
num = eval(input("number ="))

print(num + 7)

number =7
14

In [28]:
str = "divmod(7,3)"

print(int(str))

ValueError: invalid literal for int() with base 10: 'divmod(7,3)'

In [29]:
str = "divmod(7,3)"

print(eval(str))

(2, 1)

In [30]:
print(hex(234))  # 앞에 접두어로 0x가 붙어있으면 16진수

0xea

In [31]:
print(hex(3))    # 접두어로 0이면 8진수

0x3

In [33]:
# id(객체)  - 객체의 주소를 리턴하는 함수
a = 3
print(id(a), id(3))

b=a
print(id(b))

2495870757232 2495870757232
2495870757232

In [34]:
a = input()
print(a)

t
t

In [35]:
b = input("입력 = ")
print(b)

입력 = 5
5

In [39]:
a = int("3")     # 문자열을 정수형으로 변환하는 함수
print(a)
print(type(a))

b = int(3.4)   # 실수형을 정수형으로 변환
print(b)

c = int("1111", 2)  # 문자열을 2진수로 변환
print(c)

d = int("FF", 16)
print(d)

3
<class 'int'>
3
15
255

In [40]:
a = ['사과', '배', '수박', '바나나','포도']
print(a)

['사과', '배', '수박', '바나나', '포도']

In [43]:
result = ""     # 마지막 값에도 ,가 들어가게 출력됨
for i in a:
    result += i+","    # result = result + ( i + ,)
print(result)

사과,배,수박,바나나,포도,

In [44]:
# 조인 함수를 이용하여 구분자 첨가하기
a = ['사과', '배', '수박', '바나나','포도']
print(",".join(a))
print("/".join(a))
print("-".join(a))
print("\n".join(a))

사과,배,수박,바나나,포도
사과/배/수박/바나나/포도
사과-배-수박-바나나-포도
사과
배
수박
바나나
포도

In [45]:
# len() 요소의 개수
a = len("python")
print(a)

6

In [47]:
b = len([1,2,3])
print(b)

3

In [48]:
c = len((1,'a'))
print(c)

2

In [49]:
# list(), Tuple()
a = list("python")   # 문자열을 리스트로 변환
print(a)
b = list((1,2,3))   # 튜플을 리스트로 변환
print(b)

['p', 'y', 't', 'h', 'o', 'n']
[1, 2, 3]

### 사용자 정의 함수

In [53]:
def calc(x):
 #   print("x = ", x)
    return x * 2

In [54]:
a = [calc(1), calc(2), calc(3),calc(4)]
print(a)

x =  1
x =  2
x =  3
x =  4
[2, 4, 6, 8]

In [55]:
a = []   # 비어있는 리스트 객체 생성

for i in [1,2,3,4]:
    a.append(calc(i))
print(a)

x =  1
x =  2
x =  3
x =  4
[2, 4, 6, 8]

In [56]:
# map(함수이름, 입력값리스트)
a = list(map(calc, [1,2,3,4]))
print(a)

x =  1
x =  2
x =  3
x =  4
[2, 4, 6, 8]

In [1]:
c = "이"
print(c)
print(ord(c))   # ord(문자) : 문자코드

이
51060

In [2]:
a = 'Python'
for i in a:
    print("{0} => {1}".format(i,ord(i)))

P => 80
y => 121
t => 116
h => 104
o => 111
n => 110

In [3]:
a = max([1,2,3])
print(a)

b = max("python")  # 알파벳순으로 끝에 위치한
print(b) 

b = min("python")   # 알파벳순으로 처음에 위치한
print(b)

3
y
h

In [4]:
# pow(거듭제곱)

a = pow(2,4)
print(a)
print(2**4)

16
16

In [5]:
# 호출방법 : call by name(이름에 의한 호출), call by value(값에 의한 호출)
#            call by reference(주소에 의한 호출)

## 함수선언
def say():
    a = "Hello"
    return a
# Hello라는 문자열을 되돌려주는게 return, 함수는 호출해야 사용이 가능한것

In [6]:
say()  # 함수를 선언해야 호출이가능

'Hello'

In [7]:
a = say()

In [8]:
print(a)

Hello

In [9]:
# 함수 선언
def hello(name): #매개변수 1개 존재 
    string = "hello, {}".format(name)
    print(string)

In [10]:
# 호출   - call by value
hello("홍길동")

hello, 홍길동

In [ ]:
def hello(name): #매개변수 1개 존재 
    string = "hello, {}".format(name)
    print(string)
    return string